.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }
  .tileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title{
    font-family: 'Montez', cursive;
    font-size: 30px;
    color: blue;
    margin: 0;
  }
  .subtitle{
    font-family: 'Ubuntu Mono';
    font-size: 10;
    color: rgb(15, 15, 15);
    margin: 0;
  }
  #button {
    background-color: #2519ff;
    color: white;
    padding: 10px 10px;
    border: 0;
    cursor: pointer;
  }
  #postBtn {
    background-color: #cfb53b;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 19px;
    padding-left: 19px;
    margin-left: 10px;
    border: whitesmoke;
  }