body{
    background-color: #ffeedd;
}
.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin: 2em;
    box-shadow: 0px 6px 47px 10px #c9b5b8;
}

.postUserName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    background-color: #ffffff;
    padding: 50px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
}

 .allPostsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    background-color: #e8e8e8;
    height: 140px;
}
.postHeadingContainer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.postHeading {
    font-size:18px;
    color: #818181;
}
.postDescription {
    font-size: 15px;
  }

.moreInfo {
    display: flex;
    justify-content: flex-end;
    margin: 3px;
    cursor: pointer;
    color: #818181;
}

.postTrash{
    cursor: pointer;
    color: #818181;
}

.deletePost{
    background-color: #5eb762;
    padding: 10px 25px;
    border: 0px;
}

.deleteNo {
    background-color: #d13939;
    padding: 10px 25px;
    border: 0px;
}

.YesNoBtnCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}

h1 {
    font-size: 17px;
    font-family: 'Ubuntu Mono';
}